  * {
      font-size: 30px;
      border-radius: 5px;
  }

  #page {
      background-color: white;
      height: fit-content;
      max-width: 100%;
      border: solid 5px grey;
      align-content: center;
      padding: 5px;
      max-height: 100%;
      box-shadow: 3px 3px 5px gray;
  }

  @media only screen and (max-width: 555px) {
      * {
          font-size: 16px;
      }
  }

  #information {
      display: flex;
      justify-content: space-evenly;
  }

  body {
      Background-color: #d3d3d3;
      height: auto;

  }

  a {
      color: #999999;
  }

  #GameLink {
      text-decoration: none;
      color: rgb(64, 2, 134);
      transition: .25s ease-out;
  }


  #blogtext {
      font-style: italic;
      max-width: 70%;
      min-width: 60%;
      background-color: black;
      max-height: 40%;
      min-height: 30%;
      border-color: gray;
      border: solid 3px;
      padding: 10px;
      color: grey;
      margin: 5px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
      color: black;
  }

  #GameLink {
      font-size: larger;
  }

  #GameLink:hover {
      color: palevioletred;
      cursor: pointer;
  }

  #linkSidebar {
      background-color: #999999;
      float: right;
      max-width: 40%;
      min-width: 30%;
      padding: 10px;
      margin: 5px;
      border: 3px solid white;
  }

  #pictures {
      max-height: 40%;
      min-height: 20%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: nowrap;
      max-width: auto;
      margin: 10px;
  }

  #Continue {
      float: right;
      position: fixed;
      bottom: 0;
      right: 0;
      width: fit-content;
      background-color: whitesmoke;
      border-radius: 5px;
      padding: 10px;
      margin: 5px;
      transition: .5s ease-in;
  }

  #Continue:hover {
      background-color: black;
      cursor: pointer;
  }

  #Head {
      text-align: center;
      background-color: cadetblue;
      padding: 20px;
      border: 3px solid black;
  }

  .img {
      margin: 3px;
      border: 3px solid grey;
  }

  .link {
      text-shadow: 2px 2px 5px black;
  }

  #Previous {
    float: left;
    position: fixed;
    bottom: 0;
    left: 0;
    width: fit-content;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    transition: .5s ease-in;
}

#Previous:hover {
    background-color: black;
    cursor: pointer;
}

.pageNav {
    box-shadow: 2px 2px 5px gray;
}